{% extends "base.html" %}

{% load django_tables2 %}
{% load static %}

{% block title %}
    {{ project.name }}
{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">{{ project.name }}</h1>
        <form method="get" class="mb-4">
            <div class="input-group mb-3">
                <input type="text"
                       name="search"
                       value="{{ search }}"
                       class="form-control"
                       placeholder="Filter tests by name..."
                       aria-label="Filter tests by name"
                       required>
                {% if search %}
                    <a href="{% url 'projects:detail' project.path %}"
                       class="btn btn-outline-danger"
                       type="button"><i class="fa-solid fa-xmark"></i></a>
                {% endif %}
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </div>
            <div class="form-check">
                <input type="hidden" name="enabled" value="{{ enabled }}">
                <input class="form-check-input"
                       type="checkbox"
                       id="enabled_checkbox"
                       {% if enabled != "all" %}checked{% endif %}
                       onchange="document.querySelector('input[name=enabled]').value = this.checked ? 'true' : 'all'; this.form.submit()">
                <label class="form-check-label" for="enabled_checkbox">Only show tests that are enabled to block merges</label>
            </div>
        </form>
        {% render_table table %}
    </div>
{% endblock content %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
    <style>
        /* Wrap text in the Test Name column */
        .table td:first-child {
            white-space: normal;
        }
    </style>
{% endblock extra_css %}
